.p-15{
    padding: 15px 15px;
}
ul li a {
    color: #FFF !important;
}
.p-10-3{
    padding: 10px 3px !important;
}
.w-80p{
    width: 90%;
}
.gm-style-iw + div {display: none;}
#frmEditNode .save {
    background: url('/assets/img/save.png');
    height: 32px;
    width: 90px;
    border: 0;
    margin-right: 5px;
}
.jsClose img{
    margin-top: -2px !important;
}
.center {
  text-align: center;
}
hr {
    border-top: 2px solid #25a6ef;
}
.navbar {
    margin-bottom: 0px;
}
